html, body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding:0;
    width: 384px;
    min-height: 180px;
}
 h1{
     font-family: 'Menlo', monospace;
     font-size: 22px;
     font-weight:400;
     margin: 0;
     color: #003c51;
 }
 a:link ,a:visited{
     color: #222;
     outline: 0;
     text-decoration: none;
 }

 img{
     width:30px;
 }

 .modal-header{
     align-items: center;
     border-bottom: 0.6px solid #4C5E53;
 }

.model-content{
    padding: 0 22px;
}

.modal-icons{
    border-top: 0.6px solid #4C5E53;
    height: 50px;
    width: 100%;
}

.logo{
    padding: 16px;
}

.logo-icon{
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version{
    color: #444;
    font-size: 18px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex{
    opacity: 1;
    transition: opacity 0.2 ease-in-out;
    width:120px;
}

.flex:hover{
    opacity: 0.4;
}
.flex .fa{
    font-size: 40px;
    color: #003c51;
}
